@using Microsoft.AspNet.Identity
@model Muzzo.Main.ViewModels.GigViewModel
@{
    ViewBag.Title = "Gigs";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gig"))
{

    <div class="form-group verticalOffset30">
        <div class="input-group" id="searchGigsGroup">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by genre, venue or artist"})
            <span class="input-group-addon" id="searchGigs"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
    </div> 

}
<ul id="gigs" class="gigsList verticalOffset30">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>

            <div class="gigDate">
                <div class="month">
                    @gig.GigDateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.GigDateTime.ToString("d ")
                </div>
            </div>
            <div class="gigDetails">
                <span class="artist">
                    @Html.ActionLink(@gig.Artist.Name, "Details", "Gig", new { gigId = @gig.Id }, null)
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>

                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    if (Model.Attendances.Contains(gig.Id))
                    {

                        <button id="btnAttending" data-gig-id="@gig.Id" class="btn btn-info btn-sm jsAttend">
                            Going
                        </button>

                    }
                    else
                    {
                        <button id="btnAttending" data-gig-id="@gig.Id" class="btn btn-default btn-sm jsAttend">
                            Going?
                        </button>

                    }
                }
            </div>

        </li>
    }
</ul>













@section scripts {

    <script>

        $(document).ready(function () {

            GigsController.init("#gigs");

        });
    </script>

}