@using Microsoft.AspNet.Identity
@model Muzzo.ViewModels.GigViewModel
@{
    ViewBag.Title = "Gigs";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gig"))
{

    <div class="form-group verticalOffset30">
        <div class="input-group" id="searchGigsGroup">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by genre, venue or artist"})
            <span class="input-group-addon" id="searchGigs"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
    </div> 

}
<ul class="gigsList verticalOffset30">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>

            <div class="gigDate">
                <div class="month">
                    @gig.GigDateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.GigDateTime.ToString("d ")
                </div>
            </div>
            <div class="gigDetails">
                <span class="artist">
                    @Html.ActionLink(@gig.Artist.Name, "Details", "Gig", new { gigId = @gig.Id }, null)
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button data-followee-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right jsFollow">Follow?</button>

                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {

                    <button data-gig-id="@gig.Id"
                            class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default")
                                   btn-sm pull-right jsAttend">
                        @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going?")
                    </button>

                }
        </div>


    </li>
                }
            </ul>







@section scripts {

    <script>

        $(document).ready(function () {

            $(".jsAttend").click(function (e) {

                var button = $(e.target);

                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                        .done(function () { button.removeClass("btn-default").addClass("btn-info").text("Going"); })
                        .fail(function () { bootbox.alert("Something went wrong."); });
                }
                else {

                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-gig-id"),
                        method: "DELETE"
                    })
                        .done(function () { button.removeClass("btn-info").addClass("btn-default").text("Going?"); })
                        .fail(function () { bootbox.alert("Something went wrong."); });
                }

            });


            $(".jsFollow").click(function (e) {

                var button = $(e.target);

                $.post("/api/followings", { followeeId: button.attr("data-followee-id") })
                    .done(function () { button.text("Following"); })
                    .fail(function () { alert("Something went wrong."); });

            });


        });
    </script>

}